body {
	font-family: 'Courier New';
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin : 0;
} 

#topSection {
	padding : 20px 0;
	background-color: #ecf0f1;
	color: #34495e;
}

.container {
	max-width: 960px;
}
		#topSection h1 {
			display: inline-block;
			line-height: 50px;
			height: 50px;
		}

		#topSection .socialIcons {
			display: inline-block;
			float: right;
		}

			.socialIcons i {
				font-size: 24pt;
				margin-left: 10px;
				line-height: 50px;
				height: 50px;
			}

#expSkills {
	padding-top: 30px;
}
	
	#expSkills .exp-card {
		margin : 10px 0;
	}

	#expSkills .exp-card img {
		margin: 20px auto;
	}
